
{{> header}}



    {{> navbar}}

<h1>{{nombre}}</h1>


<form action="/googleMapsResp" method="GET">
  <div class="form-group">
    <label for="direccion">Ingrese el lugar o direccion</label>
    <input type="text" name="direccion" class="form-control" id="direccion" placeholder="Ingrese el lugar o direccion">
    <input type="submit" name="submit" value="submit" id="submit">
  </div>

</form>


{{> footer }}